 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: rgb(81, 76, 76);
    max-width: 1024px;
    padding-top: 1rem;
    height: 100vh;
}

#slider {
    max-width: 100%;
    width: 90vw;
    height: 80vh;
    margin: 0 auto;
    border: 5px solid white;
    overflow: hidden;
}

#slides {
    height: 100%;
    display: flex;
    width: 400%;
    transition: all 0.7s linear;
}

.slide {
    height: 100%;
    width: 100%;
}

.slide > img {
    width: 100%;
    height: 100%;
}

.wrapper input[type=radio] {
    display: none;
}

/* #slider > input {
    display: none;
} */
/* 
#slide1:checked ~ #slides {
    margin-left: 0;
}

#slide2:checked ~ #slides {
    margin-left: -100%;
}

#slide3:checked ~ #slides {
    margin-left: -200%;
}

#slide4:checked ~ #slides {
    margin-left: -300%;
} */


#slide1:checked ~ #slides #slides{
    margin-left: 0;
}

#slide2:checked ~ #slider #slides {
    margin-left: -100%;
}

#slide3:checked ~ #slider #slides {
    margin-left: -200%;
}

#slide4:checked ~ #slider #slides {
    margin-left: -300%;
}

#slide1:checked ~ .controls-slogan>.dots label[for='slide1'],
#slide2:checked ~ .controls-slogan>.dots label[for='slide2'],
#slide3:checked ~ .controls-slogan>.dots label[for='slide3'],
#slide4:checked ~ .controls-slogan>.dots label[for='slide4'] {
    background-color: rgb(81, 76, 76);
    border-color: white;
}

.controls-slogan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    max-width: 100%;
    margin: 0 auto;
    width: 90vw;
}

.slogan__wrap {
    width: 20vw;
    overflow: hidden;
}

#slogan {
    display: flex;
    align-items: center;
    width: 400%;
    transition: all 0.7s linear;
}

#slogan > p {
    width: 100%;
    font-style: italic;
    font-size: 1.3rem;
}

#slide1:checked ~ .controls-slogan .slogan__wrap #slogan {
    margin-left: 0;
}

#slide2:checked ~ .controls-slogan .slogan__wrap #slogan {
    margin-left: -100%;
}

#slide3:checked ~ .controls-slogan .slogan__wrap #slogan {
    margin-left: -200%;
}

#slide4:checked ~ .controls-slogan .slogan__wrap #slogan {
    margin-left: -300%;
}

.dots {
    display: flex;
    margin: 5px;
}

.dots > label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid rgb(99, 99, 233);
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}


.dots > label:hover {
    background-color: white;
    border-color: white;
} 


@media screen and (max-width: 768px) {
    .controls-slogan {
        flex-direction: column-reverse;
    }

    .slogan__wrap {
        margin-right: 75%;
    }
}

